<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.dailyiu.app`</string>
	<key>API_KEY</key>
	<string>AIzaSyDGzfuy-OxSU7jTiP1aOBUGehSjw_p1Umo</string>
	<key>GCM_SENDER_ID</key>
	<string>424153188289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dailyiu.app</string>
	<key>PROJECT_ID</key>
	<string>daily-iu-ufpr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-iu-ufpr-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:424153188289:ios:bb534244e7252e7a0f1140</string>
</dict>
</plist>
